/src
/node_modules
/.husky
/.vscode
/templates
/tests
/coverage

.commitlintrc.json
.env
.env.example
.gitignore
.release-it.ts
changelog.config.cjs
eslint.config.mjs
getAllContributors.cjs
jest.config.ts
.lintstagedrc.json
tsconfig.json
tsup.config.ts
